<html>

	<head>
		<title>Epcot Tip Boards</title>
		<link rel="icon" href="static/icon.png">
	</head>

	<body>
		<h1>Epcot Tip Board Links</h1>
		<ul>
			<li><a href="main-board">Main Tip Board</a></li>
			<li><a href="west-board">Innoventions West Tip Board</a></li>
			<li><a href="east-board">Innoventions East Tip Board</a></li>
		</ul>
		<p><i>any feedback can be sent to <a href="mailto://geistmeister11+tipboard-feedback@gmail.com">geistmeister11+tipboard-feedback@gmail.com</a></i></p>
	</body>
<!-- created by Tyler Geist -->
</html>
